body{
    background: lightskyblue;
}

.login {
    width:500px;
    height: 350px;
    margin:100px auto;
    padding-top:50px;
    text-align: center;
    background-color: burlywood;
    border-radius:10px;
}

input[type="text"], input[type="password"] {
    width: 310px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left:5px;
}

.label{
    font-size: 16px;
    right: 20px;
}

.sendbutton {
    width:150px;
    height: 50px;
    font-size:18px;
    background-color: lightskyblue;
    color:#000;
    border:#fff solid 1px;
    margin: 5px;
}

.sendbutton:hover {
    background-color: lightskyblue;
    color:#000;
    cursor: pointer;
}

#table {
    width: 100%;
    height: 100%;
    background: lightskyblue;
    color: black;
    padding-top: 60px;
}

#addform {
    width: 100%;
    height: 100%;
    background: lightskyblue;
    color: black;
    padding-top: 60px;
}
#add{
    margin-left: 10px;
    padding-bottom: 10px;
}
#status {
    padding-left: 10px;
}