<template>
  <div id="addform">
    <table>
      <tr>
        <td><label>Funny</label></td>
        <td><input type="range" min="0" max="10" step="1" value="5" id="funnysad" name="funnysad"></td>
        <td><label>Sad</label><br></td>
      </tr>

      <tr>
        <td><label>Light</label></td>
        <td><input type="range" min="0" max="10" step="1" value="5" id="lightdeep" name="lightdeep"></td>
        <td><label>Deep</label></td>
      </tr>

      <tr>
        <td><label>Hard</label></td>
        <td><input type="range" min="0" max="10" step="1" value="5" id="hardsoft" name="hardsoft"></td>
        <td><label>Soft</label></td>
      </tr>
    </table><br>
    <div id="add">
      <label for="songname">Songname: </label>
      <input type="text" id="songname" name="songname"><br>
      <label for="artist">Artist: </label>
      <input type="text" id="artist" name="artist"><br>
      <label for="length">Duration: </label>
      <input type="number" min="0" step="0.01" id="length" name="length"><br>
      <button id="addSong" v-on:click="addSong()">Add Song</button>
    </div>
    <h4 id="status">Status: {{status}}</h4>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';

export default {
  data() {
    return {
      tokenData: '',
      status: '',
    };
  },
  methods: {
    token() {
      this.tokenData = Vue.$cookies.get('session');
    },
    addSong(){
      const funny_sad = document.getElementById('funnysad').value;
      const light_deep = document.getElementById('lightdeep').value;
      const hard_soft = document.getElementById('hardsoft').value;

      const name = document.getElementById('songname').value.replaceAll(' ','_');
      const artist = document.getElementById('artist').value.replaceAll(' ','_');
      const length = document.getElementById('length').value;

      const url = 'http://localhost:8080/Gateway/ratings/song/name/' + name + '/' + artist + '?funny_sad=' +
        funny_sad + '&light_deep=' + light_deep + '&hard_soft=' + hard_soft + '&length=' + length + '&create=true&usertoken=' + Vue.$cookies.get('session');

      axios.post(url)
        .then(response => this.status = "Vorgang erfolgreich!")
        .catch(error => {
          this.status = error.message});
    }
  },
};
</script>
