<template>
  <div>
    <div>
      <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <router-link to="/">
              <button v-on:click="logout()" class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
                      aria-label="Open navigation menu">logout</button>
            </router-link>
            <span class="mdc-top-app-bar__title">Musicmood</span>
          </section>
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <router-link to="/add">
              <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="AddSongs">queue</button>
            </router-link>
            <router-link to="/songs">
              <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Songs">library_music</button>
            </router-link>
            </section>
        </div>
      </header>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';

export default {
  name: 'Bar',
  data() {
    return {
      token: null,
    };
  },
  methods: {
    logout() {
      this.token = Vue.$cookies.get('session');
      axios.delete('http://localhost:8080/Gateway/tokens/' + this.token);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import 'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css';
  @import 'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js';
  @import 'https://fonts.googleapis.com/icon?family=Material+Icons';
</style>
