<template>
  <div>
    <div class="login">
      <form>
        <h2>Login</h2>

        <div class="input">
          <input id="i1" type="text" placeholder="Benutzername"/>
        </div>

        <div class="input">
          <input id="i2" type="password" placeholder="Passwort"/>
        </div>

        <router-link to="/songs">
          <button v-on:click="anmelden()" class="sendbutton">Anmelden</button>
        </router-link>
        <router-link to="/">
          <button v-on:click="registrieren()" class="sendbutton">Registrieren</button>
        </router-link>
      </form>
      <h4>{{status}}</h4>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';
import router from "@/router";

export default {
  name: 'Login',
  data() {
    return{
      status: 'Status',
    }
  },
  methods: {
    anmelden() {
      let name = document.getElementById('i1').value;
      let password = document.getElementById("i2").value;
      axios.get('http://localhost:8080/Gateway/tokens/' + name + '?password=' + password)
        .then(response => {
          if(response.status == 200) {
            Vue.$cookies.set('session', response.data);
            console.debug('Start navigation');
          }
        }, response => {
        })
        .catch(error => {
          this.status = error.message;
        });
    },
    registrieren(){
      let name = document.getElementById('i1').value;
      let password = document.getElementById("i2").value;
      axios.post('http://localhost:8080/Gateway/users/' + name + '?password=' + password)
        .then(response => this.status = "Registrierung erfolgreich!")
        .catch(error => {
          this.status = error.message;
        });
    },
  }
};
</script>
