<template>
  <div id="table">
    <h4>Playlist</h4>
    <table>
      <tr>
        <td><label>Funny</label></td>
        <td><input type="range" min="0" max="10" step="1" value="5" id="funnysad" name="funnysad"></td>
        <td><label>Sad</label><br></td>
      </tr>

      <tr>
        <td><label>Light</label></td>
        <td><input type="range" min="0" max="10" step="1" value="5" id="lightdeep" name="lightdeep"></td>
        <td><label>Deep</label></td>
      </tr>

      <tr>
        <td><label>Hard</label></td>
        <td><input type="range" min="0" max="10" step="1" value="5" id="hardsoft" name="hardsoft"></td>
        <td><label>Soft</label></td>
      </tr>
    </table><br>
    <label for="listcount">Song Number</label>
    <input type="number" min="0" value="3" id="listcount" name="listcount"><br>
    <label for="threshold">Threshold</label>
    <input type="number" min="0" max="5" value="2" id="threshold" name="theshold">
    <table id="playlisttable"></table>
    <button v-on:click="getPlaylist()">Get Playlist</button>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';

export default {
  data() {
    return {
      tokenData: '',
    };
  },
  methods: {
    token() {
      this.tokenData = Vue.$cookies.get('session');
    },
    tablePlaylist(response,table){
      table.innerHTML = '';
      const header = table.insertRow();
      header.insertCell().innerText = 'Titel';
      header.insertCell().innerText = 'Artist';
      header.insertCell().innerText = 'Duration';
      header.insertCell().innerText = 'Funny/Sad';
      header.insertCell().innerText = 'Light/Deep';
      header.insertCell().innerText = 'Hard/Soft';

      for (let i = 0; i < response.length; i++) {
        let string = '';
        for (let key of Object.keys(response[i])) {
          string += key + ':' + response[i][key] + ' ';
        }
        const row = table.insertRow();
        row.insertCell().innerText = response[i].name.replaceAll('_',' ');
        row.insertCell().innerText = response[i].artist.replaceAll('_',' ');
        row.insertCell().innerText = response[i].length;
        row.insertCell().innerText = response[i].funny_Sad;
        row.insertCell().innerText = response[i].light_Deep;
        row.insertCell().innerText = response[i].hard_Soft;
      }
    },
    getPlaylist(){
      const funny_sad = document.getElementById('funnysad').value;
      const light_deep = document.getElementById('lightdeep').value;
      const hard_soft = document.getElementById('hardsoft').value;

      const count = document.getElementById('listcount').value;
      const threshold = document.getElementById('threshold').value;

      const url = 'http://localhost:8080/Gateway/playlist?funny_sad=' + funny_sad + '&light_deep=' + light_deep + '&hard_soft=' + hard_soft + '&count=' + count + '&threshold=' + threshold;

      axios.get(url)
        .then(response => this.tablePlaylist(response.data, document.getElementById('playlisttable')))
    },
  },
};
</script>

<style scoped>
@import 'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css';
@import 'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "../assets/css/Tables.css";
</style>
