<template>
  <div id="table">
    <h4>Song</h4>
    <table id="songtable"></table>
    <button v-on:click="getAllSongs()">Songs</button>
  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue';

export default {
  data() {
    return {
      tokenData: '',
    };
  },
  methods: {
    token() {
      this.tokenData = Vue.$cookies.get('session');
    },
    tableAllSongs(response, table){
      table.innerHTML = '';
      const header = table.insertRow();
      header.insertCell().innerText = 'Titel';
      header.insertCell().innerText = 'Artist';
      header.insertCell().innerText = 'Duration';
      header.insertCell().innerText = 'Funny/Sad';
      header.insertCell().innerText = 'Light/Deep';
      header.insertCell().innerText = 'Hard/Soft';

      for (let i = 0; i < response.length; i++) {
        let string = '';
        for (let key of Object.keys(response[i])) {
          string += key + ':' + response[i][key] + ' ';
        }
        const row = table.insertRow();
        row.insertCell().innerText = response[i].name.replaceAll('_',' ');;
        row.insertCell().innerText = response[i].artist.replaceAll('_',' ');;
        row.insertCell().innerText = response[i].length;
        row.insertCell().innerText = response[i].funny_Sad;
        row.insertCell().innerText = response[i].light_Deep;
        row.insertCell().innerText = response[i].hard_Soft;
      }
    },
    getAllSongs(){
      axios.get('http://localhost:8080/Gateway/songs')
        .then(response => this.tableAllSongs(response.data, document.getElementById('songtable')))
    },
  },
};
</script>

<style scoped>
  @import 'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css';
  @import 'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js';
  @import 'https://fonts.googleapis.com/icon?family=Material+Icons';
  @import "../assets/css/Tables.css";
</style>
