<template>
  <div>
    <Bar/>
    <AddForm/>
  </div>
</template>

<script>
/* eslint-disable */
import Bar from '../components/Bar.vue';
import AddForm from '../components/AddForm.vue';

export default {
  name: 'Add',
  components: {
    Bar,
    AddForm,
  },
};
</script>
