<template>
  <div>
    <Bar/>
    <PlaylistTable/>
    <SongTable/>
  </div>
</template>

<script>
// @ is an alias to /src
import Bar from '../components/Bar.vue';
import SongTable from '../components/SongTable.vue';
import PlaylistTable from '../components/PlaylistTable.vue';

export default {
  name: 'Song',
  components: {
    Bar,
    SongTable,
    PlaylistTable,
  },
};
</script>
